div{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(135, 4, 250);
    color: aliceblue;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 15px;
    border: 1px rgb(135, 4, 250);
    text-transform: capitalize;
}

button:hover{
    background-color: rgb(5, 59, 255);
}

li{
    font-size: 30px;
}


