
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <form action="/display" method="post">
      <ul>
        <li>
          <button class="button"> Catogerize Images Into Seperate Lists </button>
        </li>
        <li>
          <h3>Cats Images List:</h3>
          <h5>{{cat}} </h5> 
        </li>
      <li>
        <h3>Dogs Images List :</h3>
        <h5>{{dog}} </h5>
      </li>
    </ul>
  </form>
  </body>
</html>