
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <form action="/display" method="post">
      <button class="button"> Catogerize Images Into Seperate Lists </button>
       <h1>-------------------Cats-------------------</h1>
          {% for catlist in cat %}
          <img src="{{catlist}}" class="imgGal"/>
          {% endfor %}
       <h1>-------------------Dogs-------------------</h1>
        {% for doglist in dog %}
        <img src="{{doglist}}" class="imgGal"/>
        {% endfor %}
  </form>
  </body>
</html>